@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-base-content: #0f0f0f;
  --color-primary: #22d3ee; 
  --color-secondary: #3b82f6;
  --color-primary-content: #9ca3af;
  --color-secondary-content: #ffffff;
}



nav .active{
  border-bottom: 2px solid green;
}