@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-base-content: #0f0f0f;
  --color-primary: #22d3ee; 
  --color-secondary: #3b82f6;
  --color-primary-content: #9ca3af;
  --color-secondary-content: #ffffff;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 1000px #0f0f0f inset !important;
  -webkit-text-fill-color: #fff !important;
}


nav .active{
  border-bottom: 2px solid #22d3ee;
}