@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #f59e0b;
  --color-secondary: #029891;
}


nav .active{
  border-bottom: 2px solid green;
}